@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "content";
@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #232323;
  }
}
.gradientBtnPrimary {
  background-image: linear-gradient(to right, #00a7b4, #a4d96c);
}
.heading-before {
  font-size: 1.7rem;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  &::before {
    display: block;
    content: "";
    height: 5px;
    background-color: #85da2a;
    width: 50px;
    position: absolute;
    top: -8px;
    left: 0;
    border-radius: 10px;
  }
}
.postItem-after {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #232323;
    bottom: 0;
  }
}
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.text-primary {
  color: #a4d96c;
}
.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
.home-block {
  padding-bottom: 40px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.form-layout {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10 mb-5 lg:mb-10;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
}
.quill {
  position: relative;
  .ql-toolbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: lightgray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(175, 175, 196);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: palegreen;
}
